Django==4.2.23
psycopg2-binary
gunicorn==21.2.0
pillow
django-storages
celery
redis
pyyaml
html-calendar
markdown
django-viewflow
django-modern-rpc[defusedxml]
icalendar
segno
django-plottings @ git+https://github.com/llou/django-plottings.git@main
