:root {
  --shade: #eee;
  --page-bg-color: var(--shade);
  --body-bg-color: white;
  --text-color: black;
  --link-color: blue;
  --disabled-color: grey;
  --visited-color: blue;
  --ficha-color: rgb(255, 255, 204);
  --body-margin: 40px;
  --header-height: 40px;
  --footer-height: 40px;
  --header-padding: 40px;
  --footer-padding: 40px;
  --img-background-color: var(--shade);
  --border-radius: 10px;
  --numero-aureo: 1.618033;
  --page-width: 1024px;
  --ratio-a4: 1.414;
  --image-aspect-ratio: var(--ratio-a4);
  --foto-ficha-ancho: 350px;
  --foto-ficha-alto: calc(var(--foto-ficha-ancho) * var(--image-aspect-ratio));
  --foto-miniatura-ancho: 120px;
  --foto-miniatura-alto: calc(var(--foto-miniatura-ancho) * var(--image-aspect-ratio));
  --enlace-gato-ancho: 120px;
  --enlace-gato-alto: calc(var(--foto-enlace-ancho) * var(--image-aspect-ratio) + 45px);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--page-bg-color);
}

body {
  min-height: calc(100vh - 2 * var(--body-margin));
  width: var(--page-width);
  margin: 40px auto;
  background-color: var(--body-bg-color);
}

img {
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--img-background-color);
}

.no-decoration {
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

label {
  text-align: right;
  display: inline-block;
  font-weight: bold;
  width: 100px;
}

header {
  height: var(--header-height);
  padding: 20px;
  line-height: var(--header-height);
  vertical-align: middle;
}

#titulo-aplicacion {
  font-weight: bold;
  font-size: 1.2em;
}

header a {
  text-decoration: none;
  color: var(--link-color);
}

header a:hover {
  color: blue;
}

#app-title {
  font-weight: bold;
}

main {
  min-height: calc(100vh - 2 * var(--body-margin) - var(--header-height) - var(--footer-height) - var(--header-padding) - var(--footer-padding));
  padding: 0 20px;
}

main h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

main h1 a {
  color: var(--link-color);
  text-decoration: none;
}

main h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

main h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

footer {
  height: var(--header-height);
  width: 964px;
  padding: 20px;
  text-align: center;
}

form p {
  margin-bottom: 1em;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
}

.actions {
}

.subtitle {
  padding-top: 1em;
}

#colonias {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.colonia {
  font-size: 1.7em;
  margin: 30px;
}

#lista-de-gatos ul{
  list-style-type: circle;
  list-style-position: inside;
}

.foto {
  margin-top: 20px;
}

.ficha {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--shade);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--ficha-color);
  height: calc(var(--foto-ficha-alto) + 2 * 10px);
}

.ficha-foto-relleno {
  width: var(--foto-ficha-ancho);
  max-height: var(--foto-ficha-alto);
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--img-background-color);
  text-align: center;
  line-height: var(--foto-ficha-alto);
  vertical-align: middle;
  color: var(--disabled-color);
  font-size: 2em;
}

.ficha-foto {
  padding: 15px;
  width: var(--foto-ficha-ancho);
  max-height: var(--foto-ficha-alto);
  object-fit: cover;
}

.ficha-texto {
  border-radius: var(--border-radius);
  padding: 10px;
  width: 500px;
}

.galeria-gatos {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  margin-bottom: 20px;
}

.galeria-gatos-miniatura {
  width: var(--foto-miniatura-ancho);
  height: var(--foto-miniatura-alto);
  object-fit: contain;
}

.galeria-gatos-no-miniatura {
  width: var(--foto-miniatura-ancho);
  height: var(--foto-miniatura-alto);
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--img-background-color);
  color: var(--disabled-color);
  line-height: var(--foto-miniatura-alto);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.galeria-fotos {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  margin-bottom: 20px;
}

.galeria-fotos-miniatura {
  width: var(--foto-miniatura-ancho);
  height: var(--foto-miniatura-alto);
  object-fit: cover;
}

.galeria-fotos-no-miniatura {
  width: var(--foto-miniatura-ancho);
  height: var(--foto-miniatura-alto);
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--img-background-color);
  color: var(--disabled-color);
  line-height: var(--foto-miniatura-alto);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.no-foto {
  text-decoration: none;
}

.foto {
  max-width: calc(var(--page-width) - 2 * 40px);
  object-fit: contain;
}

#id_gatos {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

.enlace-gato {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--enlace-gato-ancho);
  height: var(--enlace-gato-alto);
  padding: 5px;
  margin: 5px;
}

.enlace-gato-nombre {
  text-align: center;
  text-decoration: underline;
}

.enlace-foto-fecha {
  text-align: center;
  text-decoration: underline;
}

