:root {
  --shade: #eee;
  --page-bg-color: var(--shade);
  --body-bg-color: white;
  --text-color: black;
  --link-color: blue;
  --disabled-color: grey;
  --visited-color: blue;
  --ficha-color: Whitesmoke;
  --body-margin: 40px;
  --header-height: 40px;
  --footer-height: 40px;
  --header-padding: 40px;
  --footer-padding: 40px;
  --img-background-color: var(--shade);
  --border-radius: 10px;
  --numero-aureo: 1.618033;
  --page-width: 1024px;
  --column-width: calc(var(--page-width) / 2 - var(--column-gap) / 2);
  --column-gap: 24px;
  --column-min-height: 180px;
  --ratio-a4: 1.414;
  --button-width: 75px;
  --button-height: calc(var(--button-width) / 1.8);
  --doc-width: 800px;
  --doc-min-height: 800px;
  --image-aspect-ratio: var(--ratio-a4);
  --foto-ficha-ancho: 120px;
  --foto-ficha-alto: calc(var(--foto-ficha-ancho) * var(--image-aspect-ratio));
  --foto-miniatura-ancho: 120px;
  --foto-miniatura-alto: calc(var(--foto-miniatura-ancho) * var(--image-aspect-ratio));
  --enlace-gato-ancho: 120px;
  --enlace-gato-alto: calc(var(--foto-enlace-ancho) * var(--image-aspect-ratio) + 45px);
  --button-active-color: cyan;
  --button-color: blue;
  --button-text-color: white;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--page-bg-color);
}

body {
  min-height: calc(100vh - 2 * var(--body-margin));
  width: var(--page-width);
  margin: 40px auto;
  background-color: var(--body-bg-color);
}

img.foto {
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--img-background-color);
  object-fit: cover;
}

.no-decoration {
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}



header {
  height: var(--header-height);
  padding: 20px;
  line-height: var(--header-height);
  vertical-align: middle;
}

#titulo-aplicacion {
  font-weight: bold;
  font-size: 1.2em;
}

header a {
  text-decoration: none;
  color: var(--link-color);
}

header a:hover {
  color: blue;
}

#app-title {
  font-weight: bold;
}

main {
  min-height: calc(100vh - 2 * var(--body-margin) - var(--header-height) - var(--footer-height) - var(--header-padding) - var(--footer-padding));
  padding: 0 20px;
}

main h1 {
  font-size: 2.5em;
  font-weight: bold;
}

main h1 a, main h2 a {
  color: var(--link-color);
  text-decoration: none;
}

main h2 {
  font-size: 2em;
  font-weight: bold;
}

main h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

main p {
}

main p strong {
  font-weight: bold
}

main p em {
  font-style: italic;
}


main ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-bottom: 20px;
}

footer {
  height: var(--header-height);
  width: 964px;
  padding: 20px;
  text-align: center;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.subtitle {
  padding-top: 1em;
  vertical-align: bottom;
}

#colonias {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.colonia {
  font-size: 1.7em;
  margin: 30px;
}

#mapa-colonia img {
  display: block;
  margin: 0 auto 20px auto;
}

#lista-de-gatos ul{
  list-style-type: circle;
  list-style-position: inside;
}

.foto {
  margin-top: 20px;
}

.ficha {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--shade);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--ficha-color);
  min-height: calc(var(--foto-ficha-alto) + 2 * 10px);
}

.ficha-foto-relleno {
  width: var(--foto-ficha-ancho);
  max-height: var(--foto-ficha-alto);
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--img-background-color);
  text-align: center;
  line-height: var(--foto-ficha-alto);
  vertical-align: middle;
  color: var(--disabled-color);
  font-size: 1em;
}

.ficha-foto {
  padding: 15px;
  width: var(--foto-ficha-ancho);
  max-height: var(--foto-ficha-alto);
  object-fit: cover;
}

.ficha-texto {
  border-radius: var(--border-radius);
  padding: 10px;
  width: 550px;
}

.ficha-texto .label {
  font-weight: bold;
}

.ficha-texto .entrada {
  margin-bottom: 0.5em;
}

.ficha-texto .texto {
  margin-bottom: 20px;
}

.ficha-stickers {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sticker {
  user-select: none;
  height: 28px;
  width: 200px;
  font-size: 1em;
  line-height: 2em;
  vertical-align: middle;
  font-weight: light;
  color: white;
  background-color: #404040;
  text-align: center;
  border-radius: 5px;
}

.sticker-badge {
  font-weight: bold;
}

.color-yellow {
  color: yellow;
}

.color-green {
  color: green;
}

.color-orange {
  color: orange;
}

.color-lightgray {
  color: lightgray;
}

.color-gray {
  color: gray;
}

.color-black {
  color: black;
}

.empty {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "Vacio";
}

.button-bar {
  margin-bottom: 20px;
}

.fea {
  filter: blur(10px);
}

.fea:hover {
  filter: none;
}


.galeria-gatos {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  margin-bottom: 20px;
}

.marco-foto {
  position: relative;
  top: 0px;
  left: 0px;
  width: calc(var(--foto-miniatura-ancho) + 10px);
  height: calc(var(--foto-miniatura-alto) + 10px);
  border: 5px solid Whitesmoke;
  border-radius: var(--border-radius);
  overflow: hidden;
}


.galeria-gatos-miniatura {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria-gatos-no-miniatura {
  width: 100%;
  height: 100%;
  background-color: var(--img-background-color);
  color: var(--disabled-color);
  line-height: var(--foto-miniatura-alto);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.galeria-fotos {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  margin-bottom: 20px;
}

.galeria-fotos-miniatura {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria-fotos-no-miniatura {
  width: var(--foto-miniatura-ancho);
  height: var(--foto-miniatura-alto);
  background-color: var(--img-background-color);
  color: var(--disabled-color);
  line-height: var(--foto-miniatura-alto);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.no-foto {
  text-decoration: none;
}

.foto {
  max-width: calc(var(--page-width) - 2 * 40px);
  object-fit: contain;
}



#id_gatos {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

.enlace-gato {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--enlace-gato-ancho);
  height: var(--enlace-gato-alto);
  padding: 5px;
  margin: 5px;
}

.enlace-gato-nombre {
  text-align: center;
  text-decoration: underline;
}

.enlace-foto-fecha {
  text-align: center;
  text-decoration: underline;
}

ul.ErrorList {
  font-weight: bold;
}

.warning {
  font-size: 1.5em;
  color: red;
  background-color: black;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.sacrificar {
  border-radius: var(--border-radius);
  border: 5px solid red
}

.buttons, .actions, .confirmations {
  height: 30px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.buttons {
  justify-content: flex-start;
}

.actions {
  justify-content: flex-end;
}

.confirmations {
  justify-content: center;
}

.buttons a, .actions a, .buttons button, .actions button,
.confirmations a, .confirmations button {
  height: var(--button-height);
  min-width: var(--button-width);
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  line-height: var(--button-height);
  vertical-align: middle;
  border: 1px solid black;
  text-decoration: none;
  color: var(--button-text-color);
  background-color: var(--button-color);
}

.buttons a:hover, .actions.a:hover .confirmations.a:hover{
  cursor: pointer;
}

.buttons a:active, .actions.a:active, .confirmations.a:active {
  cursor: pointer;
  background-color: var(--button-active-color);
  color: var(--button-text-color);
}

form.gatos-form {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;


  label.foto-label {
    display: block;
    width: auto;
    text-align: center;
    font-weight: normal;
    font-size: 1em;
  }

  input {
    border: 1px solid #ced4da;
  }

  input[type=submit], input[type=button], input[type=reset],
  button.fancy {
    height: var(--button-height);
    min-width: var(--button-width);
    border: 1px solid black;
    text-decoration: none;
    background-color: var(--button-color);
    padding-left: 5px;
    padding-right: 5px;
    color: var(--button-text-color);
    font-size: 1em;
  }

  input[type=submit]:active, input[type=button]:active, 
  input[type=reset]:active {
    background-color: var(--button-active-color);
    color: var(--button-text-color);
  }

  input[type=submit]:hover, input[type=button]:hover, 
  input[type=reset]:hover {
    cursor: pointer;
  }

  label {
    display: inline-block;
    width: 150px;
    text-align: right;
    font-weight: bold;
  }

  div.gatos-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }

  label, legend, input, textarea, select {
    font-size: 1.2em;
  }

  legend {
    font-weight: bold;
    margin-bottom: 20px;
  }

    input[type=checkbox] {
      transform: scale(1.5);
    }

    textarea {
      font-family: monospace;
    }

  .EasyMDEContainer {
    width: 700px;
  }

}

#confirmacion-mensaje {
  width: 100%;
  margin-bottom: 50px;
  font-size: 1.5em;
  text-align: center;
  margin-top: 50px;
}

.no-resize {
  resize: none;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--column-gap);
  min-height: var(--column-min-height);
}

.column {
  width: var(--column-width);
}

.calendarios {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--column-gap);
  min-height: var(--column-min-height);
}

.calendario-mes td {
  font-size: 1.3em;
  padding: 3px;
}

table.minitabla-informes {
  margin-top: 20px;
}

table.minitabla-informes tr td {
  padding: 5px;
  height: 1em;
}

table.minitabla-informes tr:nth-child(odd) {
  background-color: whitesmoke;
}

table.minitabla-informes .titulo {
  width: 400px;
}

.underlink {
  width: 100%;
  padding-top: 5px;
  text-align: right;
}

table.tabla-informes {
  width: 800px;
  margin: 30px auto 0 auto;
}

table.tabla-informes tr th {
  font-weight: bold;
}

table.tabla-informes tr td {
  padding: 5px;
  height: 1em;
  text-align: center;
}

table.tabla-informes tr:nth-child(odd) {
  background-color: whitesmoke;
}

table.tabla-informes .titulo {
  width: 400px;
  text-align: left;
}

table.tabla-informes .autor {
}

table.tabla-informes .fecha {
}

table.tabla-informes .acciones {
}

table.tabla-capturas tr:nth-child(odd) {
  background-color: whitesmoke;
}

table.tabla-capturas th {
  font-weight: bold;
  padding: 5px;
  height: 1em;
}

table.tabla-capturas th {
  font-weight: bold;
  padding: 5px;
  height: 1em;
}

table.tabla-capturas tr td {
  padding: 5px;
  height: 1em;
  text-align: center;
}

table.tabla-capturas .vista {
  width: 200px;
}

table.tabla-capturas .peso {
  width: 100px;
  text-align: center;
}

table.tabla-capturas .acciones {
  width: 200px;
  text-align: center;
}

table.tabla-enfermedades tr:nth-child(odd) {
  background-color: whitesmoke;
}

table.tabla-enfermedades th {
  font-weight: bold;
  padding: 5px;
  height: 1em;
}

table.tabla-enfermedades tr td {
  padding: 5px;
  height: 1em;
  text-align: center;
}

table.tabla-enfermedades .vista {
  width: 200px;
}

table.tabla-enfermedades .peso {
  width: 100px;
  text-align: center;
}

table.tabla-enfermedades .acciones {
  width: 200px;
  text-align: center;
}

table.minitabla-vacunas tr:nth-child(odd) {
  background-color: whitesmoke;
}

table.minitabla-vacunas th {
  font-weight: bold;
  padding: 5px;
  height: 1em;
}

table.minitabla-vacunas tr td {
  padding: 5px;
  height: 1em;
  text-align: center;
}

table.minitabla-vacunas .nombre {
  width: 200px;
}

table.minitabla-vacunas .fecha {
  width: 100px;
  text-align: center;
}

table.minitabla-vacunas .efecto {
  width: 200px;
  text-align: center;
}

article {
  min-height: calc(var(--doc-min-height) - 2 * 40px);
  width: 760px;
  font-size: 1.4em;
  margin: 40px auto 20px auto;
  padding: 40px;
  background-color: whitesmoke;
}

article h1 {
  margin-bottom: 20px;
  font-size: 2em;
  font-family: sans-serif;
}

article h2 {
  margin-bottom: 20px;
  font-size: 1.6em;
  font-weight: bold;
}

article h3 {
  margin-bottom: 20px;
  font-size: 1.4em;
  font-weight: bold;
}

article h4 {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

article h5 {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: bold;
}

article p, article li {
  margin-bottom: 20px;
  font-family: monospace;
  font-size: 1em;
}

article strong {
  font-weight: bold;
}

article em {
  font-style: italic;
}

#comidas-mes {
  width: 800px;
  padding: 20px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

#comidas-mes:hover {
  cursor: default;
}

#comidas-mes td {
  font-size: 2.5em;
  padding: 5px;
  text-align: right;
}

#comidas-mes th {
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px;
}

#comidas-mes td a {
  text-decoration: none;
}

.comidas-otro {
  background-color: yellow;
}


.comidas-usuario {
  background-color: red;
}

.comidas-none {
  background-color: none;
}

.comidas-calendario:hover {
  cursor: pointer;
}

#delete-foto {
  display: block;
  margin: 40px auto;
}

.actividades {
  margin: 0 50px 0 50px;
}

.fecha-actividad {
  font-size: 1.2em;
  font-weight: bold;
}

ul.actividades-list {
}

.anuncio {
  width: calc(100% - 10px);
  padding: 20px 0;
  margin: 20px 0;
  line-height: 100%;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.anuncio-bajo {
  border: 5px solid black;
}

.anuncio-medio {
  border: 5px solid blue;
}

.anuncio-alto {
  border: 5px solid red;
}

#calendar-qr {
  height: 300px;
  width: 300px;
}

#calendar-qr-box {
  height: 300px;
  width: 300px;
}

.calendar-qr-action {
  color: blue;
  text-decoration: underline;
}

.calendar-qr-action:hover {
  cursor: pointer;
}

