:root {
  --shade: #eee;
  --page-bg-color: var(--shade);
  --body-bg-color: white;
  --text-color: black;
  --link-color: blue;
  --disabled-color: grey;
  --visited-color: blue;
  --ficha-color: rgb(255, 255, 204);
  --body-margin: 40px;
  --header-height: 40px;
  --footer-height: 40px;
  --header-padding: 40px;
  --footer-padding: 40px;
  --img-background-color: var(--shade);
  --border-radius: 10px;
  --numero-aureo: 1.618033;
  --page-width: 1024px;
  --column-width: calc(var(--page-width) / 2 - var(--column-gap) / 2);
  --column-gap: 24px;
  --column-min-height: 180px;
  --ratio-a4: 1.414;
  --button-width: 75px;
  --button-height: calc(var(--button-width) / 1.8);
  --doc-width: 800px;
  --doc-min-height: 300px;
  --image-aspect-ratio: var(--ratio-a4);
  --foto-ficha-ancho: 350px;
  --foto-ficha-alto: calc(var(--foto-ficha-ancho) * var(--image-aspect-ratio));
  --foto-miniatura-ancho: 120px;
  --foto-miniatura-alto: calc(var(--foto-miniatura-ancho) * var(--image-aspect-ratio));
  --enlace-gato-ancho: 120px;
  --enlace-gato-alto: calc(var(--foto-enlace-ancho) * var(--image-aspect-ratio) + 45px);
  --button-active-color: cyan;
  --button-color: blue;
  --button-text-color: white;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--page-bg-color);
}

body {
  min-height: calc(100vh - 2 * var(--body-margin));
  width: var(--page-width);
  margin: 40px auto;
  background-color: var(--body-bg-color);
}

img.foto {
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--img-background-color);
  object-fit: cover;
}

.no-decoration {
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

label {
  text-align: right;
  display: inline-block;
  font-weight: bold;
  width: 150px;
}

header {
  height: var(--header-height);
  padding: 20px;
  line-height: var(--header-height);
  vertical-align: middle;
}

#titulo-aplicacion {
  font-weight: bold;
  font-size: 1.2em;
}

header a {
  text-decoration: none;
  color: var(--link-color);
}

header a:hover {
  color: blue;
}

#app-title {
  font-weight: bold;
}

main {
  min-height: calc(100vh - 2 * var(--body-margin) - var(--header-height) - var(--footer-height) - var(--header-padding) - var(--footer-padding));
  padding: 0 20px;
}

main h1 {
  font-size: 2.5em;
  font-weight: bold;
}

main h1 a, main h2 a {
  color: var(--link-color);
  text-decoration: none;
}

main h2 {
  font-size: 2em;
  font-weight: bold;
}

main h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

main ul {
  list-style-type: circle;
  list-style-position: inside;
  padding-bottom: 20px;
}

footer {
  height: var(--header-height);
  width: 964px;
  padding: 20px;
  text-align: center;
}

form.flex-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

form p {
  margin-bottom: 1em;
  vertical-align: top;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.subtitle {
  padding-top: 1em;
  vertical-align: bottom;
}

#colonias {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.colonia {
  font-size: 1.7em;
  margin: 30px;
}

#mapa-colonia img {
  display: block;
  margin: 0 auto 20px auto;
}

#lista-de-gatos ul{
  list-style-type: circle;
  list-style-position: inside;
}

.foto {
  margin-top: 20px;
}

.ficha {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--shade);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--ficha-color);
  min-height: calc(var(--foto-ficha-alto) + 2 * 10px);
}

.ficha-foto-relleno {
  width: var(--foto-ficha-ancho);
  max-height: var(--foto-ficha-alto);
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--img-background-color);
  text-align: center;
  line-height: var(--foto-ficha-alto);
  vertical-align: middle;
  color: var(--disabled-color);
  font-size: 2em;
}

.fea {
  filter: blur(10px);
}

.ficha-foto {
  padding: 15px;
  width: var(--foto-ficha-ancho);
  max-height: var(--foto-ficha-alto);
  object-fit: cover;
}

.ficha-texto {
  border-radius: var(--border-radius);
  padding: 10px;
  width: 550px;
}

.ficha-texto .label {
  font-weight: bold;
}

.ficha-texto .entrada {
  margin-bottom: 0.5em;
}

.ficha-texto .texto {
  margin-bottom: 20px;
}

.galeria-gatos {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  margin-bottom: 20px;
}

.galeria-gatos-miniatura {
  width: var(--foto-miniatura-ancho);
  height: var(--foto-miniatura-alto);
  object-fit: cover;
}

.galeria-gatos-no-miniatura {
  width: var(--foto-miniatura-ancho);
  height: var(--foto-miniatura-alto);
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--img-background-color);
  color: var(--disabled-color);
  line-height: var(--foto-miniatura-alto);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.galeria-fotos {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  margin-bottom: 20px;
}

.galeria-fotos-miniatura {
  width: var(--foto-miniatura-ancho);
  height: var(--foto-miniatura-alto);
  object-fit: cover;
}

.galeria-fotos-no-miniatura {
  width: var(--foto-miniatura-ancho);
  height: var(--foto-miniatura-alto);
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--img-background-color);
  color: var(--disabled-color);
  line-height: var(--foto-miniatura-alto);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.no-foto {
  text-decoration: none;
}

.foto {
  max-width: calc(var(--page-width) - 2 * 40px);
  object-fit: contain;
}

#id_gatos {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
}

.enlace-gato {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--enlace-gato-ancho);
  height: var(--enlace-gato-alto);
  padding: 5px;
  margin: 5px;
}

.enlace-gato-nombre {
  text-align: center;
  text-decoration: underline;
}

.enlace-foto-fecha {
  text-align: center;
  text-decoration: underline;
}

ul.ErrorList {
  font-weight: bold;
}

.warning {
  font-size: 1.5em;
  color: red;
  background-color: black;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.sacrificar {
  border-radius: var(--border-radius);
  border: 5px solid red
}

.buttons, .actions {
  height: 30px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.buttons {
  justify-content: flex-start;
}

.actions {
  justify-content: flex-end;
}

.buttons a, .actions a {
  height: var(--button-height);
  min-width: var(--button-width);
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  line-height: var(--button-height);
  vertical-align: middle;
  border: 1px solid black;
  text-decoration: none;
  color: var(--button-text-color);
  background-color: var(--button-color);
}

.butons a:hover, .actions.a:hover {
  cursor: pointer;
}

.butons a:active, .actions.a:hover {
  cursor: pointer;
  background-color: var(--button-active-color);
  color: var(--button-text-color);
}

input[type=submit], input[type=button], input[type=reset] {
  height: var(--button-height);
  width: var(--button-width);
  border: 1px solid black;
  text-decoration: none;
  background-color: var(--button-color);
  color: var(--button-text-color);
  margin-top: 20px;
  margin-left: 150px;
}

input[type=submit]:active, input[type=button]:active, 
input[type=reset]:active {
  background-color: var(--button-active-color);
  color: var(--button-text-color);
}

input[type=submit]:hover, input[type=button]:hover, 
input[type=reset]:hover {
  cursor: pointer;
}

#confirmacion-mensaje {
  width: 100%;
  margin-bottom: 50px;
  font-size: 1.5em;
  text-align: center;
}

article {
  min-height: 500px;
}

.no-resize {
  resize: none;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--column-gap);
  min-height: var(--column-min-height);
}

.column {
  width: var(--column-width);
}

.calendarios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--column-gap);
  min-height: var(--column-min-height);
}

.calendario-mes td {
  font-size: 1.3em;
  padding: 3px;
}

#tabla-informes {
  margin-top: 30px;
}

#tabla-informes tr td {
  padding: 5px;
  height: 1em;
}

#tabla-informes tr:nth-child(odd) {
  background-color: Whitesmoke;
}

#tabla-informes .informes-nombre {
  width: 400px;
}

article {
  min-height: calc(var(--doc-min-height) - 2 * 40px);
  width: 760px;
  font-size: 1.4em;
  margin: 40px auto 20px auto;
  padding: 40px;
  background-color: WhiteSmoke;
}

article h1 {
  margin-bottom: 20px;
  font-size: 2em;
  font-family: sans-serif;
}

article h2 {
  margin-bottom: 20px;
  font-size: 1.6em;
  font-weight: bold;
}

article h3 {
  margin-bottom: 20px;
  font-size: 1.4em;
  font-weight: bold;
}

article h4 {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

article h5 {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: bold;
}

article p, article li {
  margin-bottom: 20px;
  font-family: monospace;
  font-size: 1em;
}

article strong {
  font-weight: bold;
}

article em {
  font-style: italic;
}

#comidas-mes {
  width: 800px;
  padding: 20px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

#comidas-mes {
}

#comidas-mes td {
  font-size: 2.5em;
  padding: 5px;
  text-align: right;
}

#comidas-mes th {
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px;
}

#comidas-mes td a {
  text-decoration: none;
}

.comidas-otro {
  background-color: yellow;
}


.comidas-usuario {
  background-color: red;
}

.comidas-none {
  background-color: none;
}
