{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>{{ title }}</title>
    <link href="{% get_static_prefix %}css/reset.css" rel="stylesheet" />
    <link href="{% get_static_prefix %}css/gatos.css" rel="stylesheet" />
{% block base_head %}
{% endblock %}
</head>
<body>
  <header>
    <div class="main-header">
      <div class="main-header-left">
        <div id="titulo-aplicacion">
          <a href="{% url 'colonias' %}">{{ app_title }}</a> ({{ app_version }})
        </div>
      </div>
      <div class="main-header-right">

        {% if request.user.is_staff %}
          <a href="{% url "admin:index" %}">Admin</a> |
        {% endif %}
        {% if request.user.is_authenticated %}
        <a href="{% url "registration:password_change" %}">Cambiar contraseña</a>  |
        <a href="{% url "user-activity" username=request.user.username %}">Perfil</a>  |
        <a href="{% url "registration:logout" %}">Salir</a>
        {% elif not is_login %}
        <a href="{% url "registration:login" %}">Identificarse</a>
        {% endif %}

      </div>
    </div>
  </div>

  </header>
  {% for anuncio in anuncios %}
  <div class="anuncio anuncio-{{ anuncio.get_urgencia_display|lower }}">{{ anuncio.mensaje }}</div>
  {% endfor %}

  <main>
{% block base_body %}
{% endblock %}
  </main>
  <footer>
    &copy; {{ current_year }} Monforte Technologies
  </footer>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</body>
