{% extends 'gatos/colonia_base.html' %}
{% block body %}
  <div class="column">
  <div class="main-subheader">
    <div class="subtitle">
      <h3>Actividad Reciente</h3>
    </div>
    <div class="actions">
     </div>
  </div>

{% include 'gatos/actividades-block.html' with agrupador=agrupador %}
{% endblock %}
