{% extends 'gatos/colonia_base.html' %}
{% load static %}

{% block head %}
  <script src="{% static 'js/jsonrpc.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}
<div class="main-subheader">
  <div class="subtitle">
    <h2>Avistamientos de Hoy</h2>
  </div>
  <div class="actions">
  </div>
</div>

<div class="main-subheader">
  <div class="subtitle">
    <h3>Pendientes</h2>
  </div>
  <div class="actions">
    {% if perms.gatos.add_gato %}
      <a href="{% url 'gato-add' colonia=colonia.slug %}">Añadir Gato</a>
    {% endif %}
  </div>
</div>


<div class="galeria-gatos">
{% for gato in no_vistos %}
    <div class="enlace-gato">
      <div class="marco-foto">
      {% if gato.retrato.miniatura %}
        <img onclick="avistar_gato('{{ colonia.slug }}', '{{ gato.slug }}')" class="galeria-gatos-miniatura {% if gato.retrato.es_fea %} fea{% endif %}" src="{{ gato.retrato.miniatura.url }}">
    {% else %}
      <div onclick="avistar_gato('{{ colonia.slug }}', '{{ gato.slug }}')" class="galeria-gatos-no-miniatura">No hay foto</div>
    {% endif %}
      </div>
    {% if not gato.vecino %}
      <div class="enlace-gato-nombre">{{ gato.nombre }}</div>
    {% else %}
      <div class="enlace-gato-nombre">{{ gato.nombre }} de {{ gato.nombre_vecino }}</div>
    {% endif %}
    </div>
{% empty %}Se vieron todos los gatos{% endfor %}
</div>


<div class="main-subheader">
</div>
  <div class="subtitle">
    <h3>Vistos</h2>
  </div>
  <div class="actions">
  </div>
</div>

<div class="galeria-gatos">
{% for gato in vistos %}
    <div class="enlace-gato">
      <div class="marco-foto">
      {% if gato.retrato.miniatura %}
        <img onclick="avistar_gato('{{ colonia.slug }}', '{{ gato.slug }}')" class="galeria-gatos-miniatura {% if gato.retrato.es_fea %} fea{% endif %}" src="{{ gato.retrato.miniatura.url }}">
    {% else %}
      <div onclick="avistar_gato('{{ colonia.slug }}', '{{ gato.slug }}')" class="galeria-gatos-no-miniatura">No hay foto</div>
    {% endif %}
      </div>
    {% if not gato.vecino %}
      <div class="enlace-gato-nombre">{{ gato.nombre }}</div>
    {% else %}
      <div class="enlace-gato-nombre">{{ gato.nombre }} de {{ gato.nombre_vecino }}</div>
    {% endif %}
    </div>
{% empty %}No hay gatos vistos hoy{% endfor %}
</div>
<script charset="utf-8">

  const API_URL = "{% url 'RPC' %}";

</script>
{% endblock %}
