{% extends 'gatos/gato_form_base.html' %}
{% block form_body %}

<div class="main-subheader">
  <div class="subtitle">
    <h3>Capturar Gato</h3>
  </div>
  <div class="actions"></div>
</div>

<form action="{% url 'captura-create' colonia=colonia.slug gato=gato.slug %}" method="POST">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" value="Guardar"\>
</form>
{% endblock %}
