{% extends 'gatos/colonia_base.html' %}
{% block body %}
<div id="confirmacion-mensaje">
  ¿Está seguro de querer borrar la {{ captura }}?
</div>
<form method="POST">
  {% csrf_token %}
  <div class="confirmations">
  <input type="submit" value="Confirmar"/>
  </div>
</form>
{% endblock %}
