{% extends 'gatos/gato_form_base.html' %}
{% block form_body %}

<div class="main-subheader">
 <div class="subtitle">
    <h3>Captura de Gato</h3>
  </div>
  <div class="actions"></div>
</div>

<form class="gatos-form" action="{% url 'captura-update' colonia=colonia.slug gato=gato.slug pk=object.id %}" method="POST">
{{ form.as_div }}
{% csrf_token %}
<div class="buttons">
<input type="submit" value="Guardar"\>
</div>
</form>
{% endblock %}
