{% extends 'gatos/colonia_base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

{% block form_head %}
{% endblock %}

{% endblock %}
{% block body %}
{% block form_body %}
{% endblock %}

<script>
   const easyMDE = new EasyMDE();
</script>

{% endblock %}
