{% extends 'base.html' %}
{% block base_body %}
<div class="main-subheader">
  <div class="subtiltle">
    <h1>Colonias</h1>
  </div>
  <div class="actions">
    {% if perms.gatos.add_colonia %}
    <a href="{% url "colonia-add" %}">Añadir Colonia</a>
  {% endif %}
  </div>
</div>
<div id="colonias">
{% for colonia in object_list %}
  <div class="colonia"><a href="{{ colonia.get_absolute_url }}">{{ colonia.nombre }}</a></div>
{% empty %}
  No hay colonias
{% endfor %}
</div>
{% endblock %}
