{% extends 'base.html' %}
{% block base_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
{% endblock %}
{% block base_body %}
<div class="main-subheader">
  <div class="subtitle">
    <h2>Editar Colonia</h2>
  </div>
  <div class="actions"></div>
</div>

<form class="gatos-form" action="{% url 'colonia-update' colonia=colonia.slug %}" method="POST">
{{ form.as_div }}
{% csrf_token %}
<div class="buttons">
<input type="submit" value="Guardar">
</div>
</form>

<script>
   const easyMDE = new EasyMDE();
</script>
{% endblock %}
