{% extends 'base.html' %}
{% load atleast markdown %}
{% block base_body %}
  

<div class="main-subheader">
  <div class="subtitle">
    <p>Colonia:</p>
    <h1>{{ object.nombre }}</h1>
  </div>
  <div class="actions">
    {% if perms.gatos.change_colonia %}
<a href="{% url 'colonia-update' colonia=colonia.slug %}">Editar Colonia</a>
    {% endif %}
    {% if perms.gatos.avistar_gatos %}
<a href="{% url 'avistamiento' colonia=colonia.slug %}">Avistamientos</a>
    {% endif %}
    {% if perms.gatos.alimentar_gatos %}
<a href="{% url 'comidas' colonia=colonia.slug %}">Comidas</a>
    {% endif %}
  </div>
</div>
<div id="descripcion-colonia">
{{ object.descripcion|render_markdown }}
</div>
<div id="mapa-colonia">
  <a href="{% url 'colonia-activity' colonia=colonia.slug %}"><img src="{% url 'colonia-activity-graph' colonia=colonia.slug %}"></a>
</div>


<div class="columns">
  <div class="column">
  <div class="main-subheader">
    <div class="subtitle">
      <h2>Últimos Informes</h2>
    </div>
    <div class="actions">
      {% if perms.gatos.add_informe %}
  <a href="{% url 'informe-create' colonia=colonia.slug %}">Crear Informe</a>
      {% endif %}
     </div>
  </div>
  {% if informes %}
  <table class="minitabla-informes">
    {% for informe in informes|atleast:7 %}
    {% if informe and perms.gatos.view_informe %}
    <tr><td class="nombre"><a href="{% url 'informe' colonia=colonia.slug pk=informe.id %}">{% if not informe.titulo %}Informe{% else %}{{ informe.titulo }}{% endif %}</a></td><td>{{ informe.fecha|date:"SHORT_DATE_FORMAT" }}</td></tr>
  {% else %}
    <tr><td class="titulo">{{ informe.titulo }}</td><td>{{ informe.fecha }}</td></tr>
    {% endif %}
    {% endfor %}
  </table>
  <div class="underlink">
    <a href="{% url 'informes' colonia=colonia.slug %}">Ver informes</a>
  </div>
  {% else %}
      <p>No hay informes</p>
    {% endif %}
  </div>

  <div class="column">
    <div class="main-subheader">
      <div class="subtitle">
        <h2>Comidas</h2>
      </div>
      <div class="actions">
    </div>
  </div>
    <div class="calendarios">
      {% for calendario in calendarios %}
      <div class="calendario-mes">
      {{ calendario|safe }}
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>


<div class="main-subheader">
  <div class="subtitle">
    <h2>Gatos Activos</h2>
  </div>
  <div class="actions">
    {% if perms.gatos.add_gato %}
<a href="{% url 'gato-add' colonia=colonia.slug %}">Añadir Gato</a>
<a href="{% url 'gatos' colonia=colonia.slug %}">Ver Gatos</a>
    {% endif %}
 </div>
</div>
    {% include "gatos/gatos-block.html" with gatos=gatos %}


<div class="main-subheader">
  <div class="subtitle">
    <h2>Últimas Fotos</h2>
  </div>
  <div class="actions">
    {% if perms.gatos.view_foto %}
<a href="{% url 'fotos' colonia=colonia.slug %}">Ver Fotos</a>
    {% endif %}
    {% if perms.gatos.add_foto %}
<a href="{% url 'foto-add' colonia=colonia.slug %}">Añadir foto</a>
    {% endif %}
  </div>
</div>
{% include "gatos/fotos-block.html" with fotos=fotos %}
{% endblock %}
