{% extends 'gatos/colonia_base.html' %}
{% load static %}
{% block head %}
  <script src="{% static 'js/jsonrpc.js' %}" charset="utf-8"></script>
{% endblock %}
{% block body %}
<div id="comidas-mes">
{% for calendar in calendars %}
<div class="calendario-comidas">
{{ calendar|safe }}
</div>
{% endfor %}
</div>
<script charset="utf-8">
  const API_URL = "{% url 'RPC' %}";
</script>
{% endblock %}
