{% extends 'gatos/gato_base.html' %}
{% load markdown %}
{% block gato_body %}
<div class="main-subheader">
  <div class="subtitle">
    <p>Diagnostico:</p>
    <h3>{{ enfermedad.diagnostico }}</h3>
  </div>
<div class="actions">
   {% if perms.gatos.change_enfermedad %}
    <a href="{% url 'enfermedad-update' colonia=colonia.slug gato=gato.slug pk=enfermedad.id %}">Editar</a>
    {% endif %}
    {% if perms.gatos.delete_enfermedad %}
    <a href="{% url 'enfermedad-delete' colonia=colonia.slug gato=gato.slug pk=enfermedad.id %}">Borrar</a>
  </div>
</div>
<article>
  {{ enfermedad.observaciones|render_markdown }}
</article>

    {% endif %}
</div>

{% endblock %}
