{% extends 'gatos/gato_form_base.html' %}
{% block form_body %}

<div class="main-subheader">
  <div class="subtitle">
    <h2>Editar Enfermedad</h2>
  </div>
  <div class="actions"></div>
</div>

<form class="gatos-form" action="{% url 'enfermedad-update' colonia=colonia.slug gato=gato.slug pk=enfermedad.id %}" method="POST">
{{ form.as_div }}
{% csrf_token %}
<div class="buttons">
  <input type="submit" value="Guardar"\>
</div>
</form>
{% endblock %}
