{% extends 'gatos/colonia_base.html' %}
{% block body %}
<div class="main-subheader">
  <div class="subtitle">
    <h2>Fotos</h2>
  </div>
  <div class="actions">
    {% if perms.gatos.add_foto %}
<a href="{% url 'foto-add' colonia=colonia.slug %}">Subir Foto</a>
    {% endif %}
   </div>
</div>
{% include "gatos/fotos-block.html" with fotos=fotos %}
{% endblock %}
