{% extends 'gatos/colonia_base.html' %}
{% load l10n %}
{% block body %}
<div class="main-subheader">
  <div class="subtitle">
    <p>{{ foto.id }}</p>
    <h2>Foto del {{ foto.fecha|localize }}</h2>
  </div>
  <div class="actions">
    {% if perms.gatos.change_foto %}
    <a href="{% url 'foto-update' colonia=foto.colonia.slug foto=foto.id %}">Editar Foto</a>
    {% endif %}
    {% if perms.gatos.delete_foto %}
    <a href="{% url 'foto-delete' colonia=foto.colonia.slug foto=foto.id %}">Borrar Foto</a>
    {% endif %}
  </div>
</div>
{% if gatos %}
<h3>Gatos</h3>
{% include "gatos/gatos-block.html" with gatos=gatos %}
{% endif %}
<img class="foto" src="{{ foto.foto.url }}"/><br>
{% endblock %}
