{% extends 'gatos/colonia_form_base.html' %}
{% block form_body %}
<div class="main-subheader">
  <div class="subtitle">
    <h2>Añadir Foto</h2>
  </div>
  <div class="actions"></div>
</div>

<form class="gatos-form" action="{% url 'foto-add' colonia=colonia.slug %}" method="POST" enctype="multipart/form-data">
{{ form.as_div }}
{% csrf_token %}
<div class="buttons">
<input type="submit" value="Guardar"\>
</div>
</form>
{% endblock %}
