{% extends 'gatos/colonia_form_base.html' %}
{% block form_body %}
<div class="main-subheader">
  <div class="subtitle">
    <h2>Actualiza Foto</h2>
  </div>
  <div class="actions"></div>
</div>

<form class="gatos-form" action="{% url 'foto-update' colonia=foto.colonia.slug foto=foto.id %}" method="POST" enctype="multipart/form-data">
{{ form.as_div }}
{% csrf_token %}
<div class="buttons">
<input type="submit" value="Guardar"\>
</div>
</form>
<img class="foto" src="{{ foto.foto.url }}"/>
{% endblock %}
