{% extends 'gatos/colonia_form_base.html' %}
{% block form_body %}
<div class="main-subheader">
  <div class="subtitle">
    <h2>Añadir Gato</h2>
  </div>
  <div class="actions"></div>
</div>

  <form class="gatos-form" action="{% url 'gato-add' colonia=colonia.slug %}" method="POST">
{{ form.as_div }}
{% csrf_token %}
<div>
  <div></div> <input type="submit" value="Guardar"\>
</div>
</form>
{% endblock %}
