{% extends 'gatos/colonia_base.html' %}
{% block body %}
<h2>Gato: {{ gato.nombre }}</h2>
<a href="{% url 'gato-update' colonia=colonia.slug slug=gato.slug %}">Editar Gato</a>
<a href="{% url 'gato-delete' colonia=colonia.slug slug=gato.slug %}">Borrar Gato</a>
<a href="{% url 'gato-update' colonia.slug gato.slug %}">Edita</a></br>
Color: {{ gato.color }}</br>
Descripcion: </br>{{ gato.descripcion }}
<p><b>Fotos</b></p>
<ul>
{% for foto in gato.fotos.all %}
  <li>
    <a href="{{ foto.get_absolute_url }}"><img src="{{ foto.foto.url }}"/></a>
  </li>
{% endfor %}
</ul>
{% endblock %}
