{% extends 'gatos/gato_base.html' %}
{% block gato_body %}
<div id="confirmacion-mensaje">
  {{ question }}
</div>
<div class="confirmations">
  <a href="{{ confirmation_uri }}">Ok</a>
  <a href="{{ cancel_uri }}">Cancelar</a>
</div>
{% endblock %}
