{% extends 'gatos/colonia_base.html' %}
{% load atleast markdown %}
{% block body %}
<div class="ficha">
  {% if gato.retrato.foto.url %}
    <img class="ficha-foto{% if gato.retrato.es_fea %} fea{% endif %}" src="{{ gato.retrato.foto.url }}" />
  {% else %}
  <div class="ficha-foto-relleno">No hay foto</div>
  {% endif %}

  <div class="ficha-texto">
    <p>{% if gato.sexo == "M" %}Gato:{% else %}Gata:{% endif %}</p>
    <h2>{{ gato.nombre }}</h2>
    {% if not gato.vecino %}
    <div class="entrada"><span class="label">Color</span>: {{ gato.color }}</div>
    <div class="entrada"><span class="label">Peso</span>: {% if peso is not None %}{{ peso }}Kg{% else %}No se ha pesado todavía{% endif %}</div>
    <p><span class="label">Descripcion</span>:</p>
    <div class="texto">{{ gato.descripcion|render_markdown }}</div>
  {% endif %}
  </div>

  <div class="ficha-stickers">
    <div class="sticker">Estado: <span class="sticker-badge color-{{ gato.color_estado }}">{{ gato.estado }}</span></div>
  </div>
 </div>


<div class="button-bar">
  <div class="actions">
    {% if gato.estado != 'MUERTO' %}
    {% if perms.gatos.change_gato %}
    <a href="{% url 'gato-update' colonia=colonia.slug gato=gato.slug %}">Editar</a>
  {% endif %}
  {% if perms.gatos.capturar_gato %}
  {% if not gato.vecino %}
    {% if perms.gatos.morir_gato %}
     <a href="{% url 'morir' colonia=colonia.slug gato=gato.slug %}">Muerto</a>
   {% endif %}
  {% if gato.estado == 'CAPTURADO' %}
        <a href="{% url 'liberar' colonia=colonia.slug gato=gato.slug %}">Liberar</a>
  {% else %}
       <a href="{% url 'capturar' colonia=colonia.slug gato=gato.slug %}">Capturar</a>
  {% endif %}
  {% endif %}
  {% if gato.estado == 'CAPTURADO' and perms.gatos.add_enfermedad %}
    <a href="{% url 'enfermedad-create' colonia=colonia.slug gato=gato.slug %}">Diagnosticar</a>
  {% endif %}
  {% if gato.estado == 'CAPTURADO' and perms.gatos.vacunar_gato %}
    <a href="{% url 'vacunar' colonia=colonia.slug gato=gato.slug pk=ultima_captura.id %}">Vacunar</a>
  {% endif %}
  {% endif %}
  {% endif %}
  </div>
</div>


{% if not gato.vecino %}


<div id="mapa-colonia">
  <a href="{% url 'gato-activity' colonia=colonia.slug gato=gato.slug %}"><img src="{% url 'gato-activity-graph' colonia=colonia.slug gato=gato.slug %}"></a>
</div>


<div class="columns">
  <div class="column">
  <div class="main-subheader">
    <div class="subtitle">
      <h3>Capturas</h3>
    </div>
    <div class="actions">
     </div>
  </div>
    {% if capturas %}
    <table class="tabla-capturas">
      <tr><th>Fecha</th><th>Peso(Kg)</th><th>Acciones</th></tr>
    {% for captura in capturas|atleast:7 %}
    {% if captura %}
      <tr><td class="vista"><a href="{{ captura.get_absolute_url }}">{{ captura.fecha_captura }}</a></td>
          <td class="peso">{{ captura.peso|default_if_none:"-" }}</td>
          <td class="acciones">
              {% if perms.gatos.change_captura and captura.capturado %}<a href="{% url 'captura-update' colonia=colonia.slug gato=gato.slug pk=captura.id %}">Editar</a> |{% endif %} {% if perms.gatos.delete_captura %}<a href="{% url 'captura-delete' colonia=colonia.slug gato=gato.slug pk=captura.id %}">Borrar</a>{% endif %}
    {% else %}
      <tr><td></td><td></td><td></td></tr>
    {% endif %}
    {% endfor %}
    </table>
   {% else %}
    <p>No hay Capturas</p>
    {% endif %}
  </div>

  <div class="column">
  <div class="main-subheader">
    <div class="subtitle">
      <h3>Enfermedades</h3>
    </div>
    <div class="actions">
     </div>
  </div>
  {% if enfermedades %}
    <table class="tabla-enfermedades">
      <tr><th>Diagnostico</th><th>Fecha</th><th>Acciones</th></tr>
    {% for enfermedad in enfermedades|atleast:7 %}
    {% if enfermedad %}
      <tr><td class="vista"><a href="{{ enfermedad.get_absolute_url }}">{{ enfermedad.diagnostico }}</a></td>
          <td class="fecha">{{ enfermedad.fecha_diagnostico|date:"SHORT_DATE_FORMAT"}}</td>
          <td class="acciones">
              {% if perms.gatos.change_enfermedad and not enfermedad.curado %}<a href="{% url 'enfermedad-update' colonia=colonia.slug gato=gato.slug pk=enfermedad.id %}">Editar</a> |{% endif %} {% if perms.gatos.delete_enfermedad %}<a href="{% url 'enfermedad-delete' colonia=colonia.slug gato=gato.slug pk=enfermedad.id %}">Borrar</a>{% endif %}
    {% else %}
      <tr><td></td><td></td><td></td></tr>
    {% endif %}
    {% endfor %}
    </table>
   {% else %}
    <p>No hay Enfermedades</p>
    {% endif %}
  </div>
</div>


<div class="columns">
  <div class="column">
  <div class="main-subheader">
    <div class="subtitle">
      <h3>Vacunaciones</h3>
    </div>
    <div class="actions">
      {% if perms.gatos.add_vacuna %}
      {% endif %}
     </div>
  </div>
  {% if vacunas %}
  <table class="minitabla-vacunas">
    <tr><th class="nombre">Nombre</th><th class="fecha">Fecha</th><th class="efecto">Hasta</th></tr>
    {% for vacuna in vacunas|atleast:7 %}
    <tr><td class="nombre">{{ vacuna.nombre }}</td><td class="fecha">{{ vacuna.fecha|date:"SHORT_DATE_FORMAT" }}</td><td class="efecto">{{ vacuna.vacunacion|date:"SHORT_DATE_FORMAT" }}</td></tr>
    {% endfor %}
  </table>
  <div class="underlink">
  </div>
  {% else %}
      <p>No hay vacunaciones</p>
  {% endif %}
  </div>

  <div class="column">
  <div class="main-subheader">
    <div class="subtitle">
      <h3>Últimos Informes</h3>
    </div>
    <div class="actions">
      {% if perms.gatos.add_informe %}
      {% endif %}
     </div>
  </div>
  {% if informes %}
  <table class="minitabla-informes">
    {% for informe in informes|atleast:7 %}
    {% if informe and perms.gatos.view_informe %}
    <tr><td class="nombre"><a href="{% url 'informe' colonia=colonia.slug pk=informe.id %}">{% if not informe.titulo %}Informe{% else %}{{ informe.titulo }}{% endif %}</a></td><td>{{ informe.fecha|date:"SHORT_DATE_FORMAT" }}</td></tr>
  {% else %}
    <tr><td class="titulo">{{ informe.titulo }}</td><td>{{ informe.fecha }}</td></tr>
    {% endif %}
    {% endfor %}
  </table>
  <div class="underlink">
    <a href="{% url 'informes' colonia=colonia.slug %}">Ver informes</a>
  </div>
  {% else %}
      <p>No hay informes</p>
    {% endif %}
  </div>
</div>


{% else %}
  <p>
    Gato del vecino: {{ gato.nombre_vecino }}
  </p>
{% endif %}

<div class="main-subheader">
  <div class="subtitle">
    <h2>Fotos</h2>
  </div>
  <div class="actions">
   </div>
</div>
{% include "gatos/fotos-block.html" with fotos=gato.fotos.all %}

{% endblock %}
