{% extends 'gatos/colonia_base.html' %}
{% block head %}
{% block gato_head %}

{% endblock %}
{% endblock %}
{% block body %}
  <div class="main-subheader">
    <div class="subtitle">
    <p>Gato:</p>
    <h2><a href="{% url 'gato' colonia=colonia.slug gato=gato.slug %}">{{ gato.nombre }}</a></h2>
        </div>
        <div class="actions">
        {% block gato_actions %}{% endblock %}
        </div>
  </div>
{% block gato_body %}
{% endblock %}
{% endblock %}
