<div class="galeria-gatos">
{% for gato in gatos %}
  <a class="no-decoration" href="{{ gato.get_absolute_url }}">
    <div class="enlace-gato">
      <div class="marco-foto">
      {% if gato.retrato.miniatura %}
        <img class="galeria-gatos-miniatura {% if gato.retrato.es_fea %} fea{% endif %}" src="{{ gato.retrato.miniatura.url }}">
    {% else %}
      <div class="galeria-gatos-no-miniatura">No hay foto</div>
    {% endif %}
      </div>
    {% if not gato.vecino %}
      <div class="enlace-gato-nombre">{{ gato.nombre }}</div>
    {% else %}
      <div class="enlace-gato-nombre">{{ gato.nombre }} de {{ gato.nombre_vecino }}</div>
    {% endif %}
    </div>
</a>
{% empty %}No hay gatos{% endfor %}
</div>
