{% extends 'gatos/colonia_base.html' %}
{% load markdown %}
{% block head %}
{% endblock %}

{% block body %}
<div class="main-subheader">
  <div class="subtitle">
    <p>Informe:</p>
    <h2>{{ informe.titulo }}</h2>
  </div>
<div class="actions">
   {% if perms.gatos.change_informe %}
    <a href="{% url 'informe-update' colonia=colonia.slug pk=informe.id %}">Editar</a>
    {% endif %}
    {% if perms.gatos.delete_informe %}
    <a href="{% url 'informe-delete' colonia=colonia.slug pk=informe.id %}">Borrar</a>
    {% endif %}
  </div>
</div>

<article>
  {{ informe.texto|render_markdown }}
</article>

</div>
{% if gatos %}
<h3>Gatos</h3>
{% include "gatos/gatos-block.html" with gatos=gatos %}
{% endif %}

{% endblock %}
