{% extends 'gatos/colonia_base.html' %}
{% block body %}
  <div id="confirmacion-mensaje">
  Estas seguro de que quieres borrar el informe "{{ informe.titulo }}"</p>
  </div>
<form method="POST">
  {% csrf_token %}
  <div class="confirmations">
    <input type="submit" value="Confirmar"/>
  </div>
</form>
{% endblock %}
