{% extends 'gatos/colonia_form_base.html' %}
{% block form_body %}

<div class="main-subheader">
  <div class="subtitle">
	<h3>Informe</h3>
  </div>
  <div class="actions"></div>
</div>

<form class="gatos-form" action="{% url 'informe-update' colonia=colonia.slug pk=informe.pk %}" method="POST">
{{ form.as_div }}
{% csrf_token %}
<div>
<input type="submit" value="Guardar"\>
</div>
</form>
{% endblock %}
