{% extends 'gatos/colonia_form_base.html' %}
{% block form_body %}
<div class="main-subheader">
  <div class="subtitle">
    <h2>Crear Informe</h2>
  </div>
  <div class="actions"></div>
</div>

<form class="gatos-form" action="{% url 'informe-create' colonia=colonia.slug %}" method="POST">
{{ form.as_div }}
{% csrf_token %}
<div class="buttons">
<input type="submit" value="Guardar"\>
</div>
</form>
{% endblock %}
