{% extends 'base.html' %}
{% load static %}
{% block base_head %}
  <script src="{% static 'js/jsonrpc.js' %}" charset="utf-8"></script>
{% endblock %}
{% block base_body %}

  <div class="main-subheader">
    <div class="subtitle">
      <h1>Perfil de {{ request.user.username }}</h1>
    </div>
    <div class="actions">
     </div>
  </div>

  <p><a href="" onclick="nuevo_codigo_qr()">Regenerar Código</a></p>
  {{ codigo|safe }}

  <div class="main-subheader">
    <div class="subtitle">
      <h3>Actividad Reciente</h3>
    </div>
    <div class="actions">
     </div>
  </div>

{% include 'gatos/actividades-block.html' with agrupador=agrupador %}
<script charset="utf-8">
  API_URL = "{% url 'RPC' %}";
</script>
{% endblock %}
