{% extends "registration/registration.html" %}
{% block content %}
<div id="registration-container">
  <h1>Aviso</h1>
  <p>Ha salido satisfactoriamente</p>
  <p><a href="{% url "registration:login" %}">Volver a entrar.</a></p>
</div>
{% endblock %}
