{% extends "registration/registration.html" %}
{% load static %}

{% block content %}
<div id="registration-container">
  <h1>Aviso</h1>
  <p>Su contraseña se ha cambiado.</p>
  <p><a href="{% url "colonias" %}">Volver a la aplicacion.</a></p>
</div>
{% endblock %}
