{% extends "registration/registration.html" %}
{% load static %}

{% block content %}
<div id="registration-container">
  <h1 class="title">Cambio de Contraseña</h1>
  <form method="post" action="{% url 'registration:password_change' %}">
  {% csrf_token %}
    {{ form.as_div }}
    <p><input class="button" type="submit" value="Actualiza"></p>
  </form>
</div>
{% endblock %}
